$font: "Amatic SC";
$size: 58px;
h1
{
  font-family: $font;
  font-size: $size;
} 
.block
{
  position:relative;
  border: 1px solid black;
  text-align:center;
  
 
}
.wrapper
{
  display:flex;
  flex-direction: column;

  
}
.bouton
{
  min-width: 200px;
  margin: 2px;
  font-family: 'AMATIC SC';
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  
}

#auteur
{
  float: right;
  position:relative;
  top: 35px;
  right: 140px;
}
.citation
{
  border-left: 4px solid 	#ff8000;
  padding-left: 4px;
  height: 80px;
  font-size: 18px;
  font-family: 'Dancing Script';
  margin-top: 10px;
  padding-top: 4px;
}
.groupe
{
  margin-top: 40px;

  padding:10px;
 display: flex;
    flex-flow: row wrap;
    justify-content: center;
  max-width: 90%;
}

@media (max-width: 880px){
  .citation{
    height: 100px;
    position:relative;
    
  }
 
  
}